# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.BasketAPI.iml
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\Tugrul\RiderProjects\BasketAPI\.idea\.idea.BasketAPI\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
